PyMuPDF
pdf2image
pytesseract
Pillow
PyYAML
unidecode
googletrans==4.0.0-rc1
pytest
PyPDF2
requests
google-generativeai
python-dotenv
pandas
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
